<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <a draggable="true"><h1>Arul Prakasham</h1></a>
    <img src="https://raw.githubusercontent.com/Arul402/html-Resume/refs/heads/main/assets/images/Arul_Photo.png" alt="My Photo" height="200" />
    <h2>Summary:</h2>
    <p>To work with maximum potential in a challenging and dynamic environment, with diverse groups of people and to enhance my
        professional skills with learning and experience for career growth.</p>
        <hr/>
    <h2>Education Info:</h2>
    <ul>   
        <li>
            <h3>SSLC</h3>
            <p>S.S.M Lakshmi Ammal Matric and Higher Secondary School,<br/>
                Kumarapalayam,<br/>
                Bhavani.<br/>
                Completed in 2018 - 80.5%
            </p>
        </li>
        <li>
            <h3>HSC</h3>
            <p>Green Garden Higher Secondary School,<br/>
            Perundurai R.S.<br/>
            Completed in 2020 - 75.3%</p>
        </li>
        <li>
            <h3>UG</h3>
            <p>Kongu Engineering College,<br/>
            Perundurai.<br/>
            Current CGPA till 8th Sem - 8.05</p>
        </li>
    </ul>
    <hr/>
    <h2>Technical Skills:</h2>
    <ol>
        <li>JAVA</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React JS</li>
        <li>Node Js</li>
        <li>Django</li>
        <li>Python</li>
    </ol>
    <hr/>
    <h2>Area of Interest:</h2>
    <ul>
        <li>Web Technology</li>
        <li>Database Management System</li>
    </ul>
    <hr/>
    <h2>Achievements:</h2>
    <ul>
        <li>
            Won awards on Chess Competition.(2018 - 2019)
        </li>
        <li>
            Completed a Certified course on Java Programming in Udemy.(2021 - 2022)
        </li>
    </ul>
    <hr/>
    <h2>Other:</h2>
    <ul>
        <li><a href="./myHobbies.html">My Hobbies</a></li>
       <li> <a href="./contact.html">Contact Me</a></li>
    </ul>
    



    <footer>
        <p>© Arul Prakasham. All rights reserved.</p>
    </footer>
</body>

</html>